body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  padding:30px;
  font-size: 24px;
  font-family: sans-serif;
}


.animation-drawer {
  top: 0;
  left: 0;
  background-color: #555;
  color: #eee;
	position: absolute;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  transform: translateY(100vh);
  transition: transform 0.5s;
  will-change: transform;
  padding: 0;
}

.open .animation-drawer {
	transform: translateY(0vh);
}

.demo-drawer {
  padding: 30px;
  color: white;
}

.lf-overlay {
  display:none;
}
.lf-drawer-dialog {
  width: 100vw;
  height: 100vh;
  background-color: #555;
  max-width: 100vw;
  padding: 0;
}

.slide {
  width: 100vw;
  height: 20vh;
  background-color: #eee;
  padding: 1em;
  color: #555;
}
